<footer class="footer">
  <div class="logo">
    <img src="https://www.kadencewp.com/wp-content/uploads/2020/10/alogo-1.svg"
      alt="company Logo" />
  </div>
  <div>
    <p style="font-weight: bolder;">{{companyName || "AK TECK"}}</p>
    <div class="powered-by">
      <p style="font-size: 12px;">
        powered by
      </p>
      <div style="padding: 10px;">
        <img src="https://res.cloudinary.com/dkmg7bddr/image/upload/v1705744161/logo-removebg-preview_ytndsz.png"
          alt="company logo" />
        <b style="color: #2998fa">{{companyName || "AK TECK"}}</b>

      </div>
    </div>
  </div>
  <p>Email: abidullah.se@gmail.com</p>
</footer>