<footer class="footer">
        <div class="logo">
          <img
            src="https://res.cloudinary.com/dkmg7bddr/image/upload/v1705747108/delivery-time_1_tn9yfk.png"
            alt="Timate Logo"
          />
        </div>
        <div>
          <p style="font-weight: bolder;">Timate</p>
          <p class="powered-by">
            <p style="font-size: 12px;">
              powered by
            </p>
            <div style="padding: 10px;">
              <img
              src="https://res.cloudinary.com/dkmg7bddr/image/upload/v1705744161/logo-removebg-preview_ytndsz.png"
              alt="Technics Lab Logo"
            />
            <b>Technics Lab</b>
            
            </div>
          </p>
          <p style="font-size: 12px">Your envision, we build</p>
        </div>
        <p>Email: info@technicslab.com</p>
      </footer>
      