<!doctype html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Congratulations</title>
      <style>
        body {
          margin: 0;
          padding: 0;
          font-family: 'Segoe UI', Roboto, Arial, sans-serif;
          background-color: #1a1d21;
          color: white;
        }

        .container {
          max-width: 960px;
          margin: 0 auto;
          padding: 20px;
        }

        .card {
          border-radius: 1rem;
          box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          padding: 20px;
          text-align: center;
        }

        .logo {
          display: inline-block;
          margin-bottom: 10px;
        }

        .logo img {
          width: 50px;
          height: 50px;
        }

        .footer {
          text-align: center;
          padding: 20px;
        }

        .footer img {
          width: 50px;
          height: 50px;
        }

        .footer p {
          margin: 0;
        }

        .powered-by img {
          width: 30px;
          height: 30px;
          vertical-align: middle;
        }
      </style>
    </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="text-center">
            <div class="card my-5 p-5">
              <div class="display-2">
                🎉 Congratulations, You email has been Notified that you area created Admin 
              </div>
              <div class="display-4">
                User Name : <b> {{userName}} </b>
              </div>
              <div class="display-4">
                Password <b> {{password}}</b>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="logo">
          <img
            src="https://res.cloudinary.com/dkmg7bddr/image/upload/v1705747108/delivery-time_1_tn9yfk.png"
            alt="Timate Logo"
          />
        </div>
        <div>
          <p style="font-weight: bolder;">Timate</p>
          <p class="powered-by">
            <p style="font-size: 12px;">
              powered by
            </p>
            <div style="padding: 10px;">
              <img
              src="https://res.cloudinary.com/dkmg7bddr/image/upload/v1705744161/logo-removebg-preview_ytndsz.png"
              alt="Technics Lab Logo"
            />
            <b>Technics Lab</b>
            
            </div>
          </p>
          <p style="font-size: 12px">Your envision, we build</p>
        </div>
        <p>Email: info@technicslab.com</p>
      </footer>
      
    </div>
    

  </body>
</html>
