<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Congratulations</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Roboto, Arial, sans-serif;
      background-color: #1a1d21;
      color: white;
    }

    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }

    .card {
      border-radius: 1rem;
      box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 20px;
      text-align: center;
    }

    .logo {
      display: inline-block;
      margin-bottom: 10px;
    }

    .logo img {
      width: 50px;
      height: 50px;
    }

    .footer {
      text-align: center;
      padding: 20px;
    }

    .footer img {
      width: 50px;
      height: 50px;
    }

    .footer p {
      margin: 0;
    }

    .powered-by img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <div class="card my-5 p-5" style="background:black">
            <div class="display-2">
              😔 Sorry, You Verification token has been expired ⚠️
            </div>
            <div class="display-4">
              You will be redirected to <b> {{companyName}} </b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="logo">
        <img src="https://www.kadencewp.com/wp-content/uploads/2020/10/alogo-1.svg" alt="company Logo" />
      </div>
      <div>
        <h2 style="font-weight: bolder;">{{companyName}}</h2>
      </div>
      <p>Email: abidullah.se@gmail.com</p>
      <p style="font-size: 12px">All righst reserved <a href="https://github.com/ABIDULLAH786">@Abidullah786</a></p>
    </footer>

  </div>

</body>

</html>